<html>
  <head>
      <link rel="stylesheet" href="../static/style.css">
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <title>Charity's Home!</title>
  </head>
  <body>
    <h2>Welcome {{ session['username'] }}</h2>
    <p><a href="{{ url_for('view_all_donations') }}">View All Donations</a></p>
    <p><a href="{{ url_for('charity_accepted_donations') }}">View My Accepted Donations</a></p>
    <a href="{{ url_for('index_page') }}">Back to home</a>
    <br>
    <a href="{{ url_for('logout') }}">Logout</a>
  </body>
</html>