<html>
    <h1>Welcome to our donation platform</h1>
    <p>Please choose if you are a donor or a charity</p>
    <h2>Login</h2>
    <form action="/login" method="post">
        <label for="login-username">Username:</label>
        <input type="text" id="login-username" name="login-username" required>
        <br>
        <label for="login-password">Password:</label>
        <input type="password" id="login-password" name="login-password" required>
        <br>
        <label>Login as:</label>
        <input type="radio" id="donor-login" name="login-user_type" value="donor" required>
        <label for="donor-login">Donor</label>
        <input type="radio" id="charity-login" name="login-user_type" value="charity">
        <label for="charity-login">Charity</label>
        <br>
        {% if error %}
            <p style="color: red;">{{ error }}</p>
        {% endif %}
        <input type="submit" value="Login">
    </form>
    <p><a href="{{ url_for('register_page') }}">Register now</a></p>
</html>
