<html>
<head>
    <link rel="stylesheet" href="../static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
    <h1>Welcome to our donation platform</h1>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="flashes">
                {% for message in messages %}
                    <p style="color: red;">{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    {% if session.get('username') %}
        <p>Welcome back, {{ session['username'] }}!</p>
        {% if session['user_type'] == 'donor' %}
            <p>Go to my <a href="{{ url_for('donor_home_page') }}">donor's home</a></p>
        {% elif session['user_type'] == 'charity' %}
            <p>Go to my <a href="{{ url_for('charity_home_page') }}">charity's home</a></p>
        {% endif %}
        
        <p><a href="{{ url_for('logout') }}">Logout</a></p>
        <p>Or login with a different account below:</p>
    {% else %}
        <h2>Login</h2>
        <form action="/login" method="post">
            <label for="login-username">Username:</label>
            <input type="text" id="login-username" name="login-username" required>
            <br>
            <label for="login-password">Password:</label>
            <input type="password" id="login-password" name="login-password" required>
            <br>
            <label>Login as:</label>
            <input type="radio" id="donor-login" name="login-user_type" value="donor" required>
            <label for="donor-login">Donor</label>
            <input type="radio" id="charity-login" name="login-user_type" value="charity">
            <label for="charity-login">Charity</label>
            <br>
            {% if error %}
                <p style="color: red;">{{ error }}</p>
            {% endif %}
            <input type="submit" value="Login">
        </form>
        <p><a href="{{ url_for('register_page') }}">Register now</a></p>
    {% endif %}
</body>
</html>